@page "/dashboard"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "0")]
@inject IJSRuntime JSRuntime
<section id="hero" class="d-flex align-items-center justify-content-center" style="min-height: 100vh;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 d-flex justify-content-center">
                <div class="dashboard-card mx-2">
                    <div class="dashboard-card-icon">
                       @*  <i class="fas fa-euro-sign"></i> *@
                        <h1 style="color:#E1AE47;">Bs.</h1>
                    </div>
                    <div class="dashboard-card-content">
                        <h3> Total Ingresos</h3>
                        <p>12100.00</p>
                    </div>
                </div>
                <div class="dashboard-card mx-2">
                    <div class="dashboard-card-icon">
                        <i class="fas fa-tag" style="color: #E1AE47;"></i>
                        @* <i class="bi bi-tag"></i> *@
                    </div>
                    <div class="dashboard-card-content">
                        <h3>Total Ventas</h3>
                        <p>5</p>
                    </div>
                </div>
                <div class="dashboard-card mx-2">
                    <div class="dashboard-card-icon">
                        <i class="fas fa-layer-group" style="color: #E1AE47;"></i>
                        @* <i class="bi bi-layers" style="border-color="></i> *@
                    </div>
                    <div class="dashboard-card-content">
                        <h3>Total Productos</h3>
                        <p>16</p>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-lg-12">
                    <div class="graph-container">
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Inicializar el gráfico cuando se renderiza el componente por primera vez
            await JSRuntime.InvokeVoidAsync("initializeChart");
        }
    }
}
